[Desktop Entry]
Type=Application
Exec=ktron -snake -caption "%c" %i
Icon=kdesnake
DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[ga]=Cluiche Cosúil le Snake
GenericName[uk]=Гра, схожа на Snake
GenericName[zh_TW]=類似吞食蛇遊戲
Terminal=false
Name=KSnake
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
