[Desktop Entry]
Type=Application
Exec=ktron -snake -caption "%c" %i
Icon=kdesnake
DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[ga]=Cluiche cosúil le Snake
GenericName[ja]=Snake のようなゲーム
GenericName[nds]=Snake-liek Speek
GenericName[pt]=Jogo semelhante ao Snake
GenericName[pt_BR]=Jogo semelhante ao Snake
GenericName[sv]=Ormliknande spel
GenericName[tr]=Snake Benzeri bir Oyun
GenericName[uk]=Гра, схожа на Snake
GenericName[zh_TW]=類似吞食蛇遊戲
Terminal=false
Name=SnaKe
Name[sv]=Orm
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
