[Desktop Entry]
Type=Application
Exec=ktron -snake -caption %c %i
Icon=kdesnake
X-DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[bs]=Igra kao zmija
GenericName[ca]=Joc a l'estil de l'Snake
GenericName[ca@valencia]=Joc a l'estil de l'Snake
GenericName[cs]=Hra typu Hadi
GenericName[da]=Snake-lignende spil
GenericName[de]=„Snake“-Spiel
GenericName[el]=Παιχνίδι παρόμοιο με το Snake
GenericName[en_GB]=Snake-like Game
GenericName[es]=Juego similar a Snake
GenericName[et]=Ussimäng
GenericName[eu]=Sugea bezalako jokoa
GenericName[fi]=Snaken kaltainen peli
GenericName[fr]=Jeu du serpent
GenericName[ga]=Cluiche Cosúil le Snake
GenericName[gl]=Xogo similar ao Snake
GenericName[hu]=Kígyós játék
GenericName[is]=Leikur líkur Snake
GenericName[it]=Un gioco simile a Snake
GenericName[ja]=Snake のようなゲーム
GenericName[kk]=Snake-секілді ойын
GenericName[km]=ល្បែង​ដូច​ពស់
GenericName[ko]=뱀 꼬리 게임
GenericName[lv]=Snake līdzīga spēle
GenericName[mr]=स्नेक सारखा खेळ
GenericName[nb]=Snake-liknende spill
GenericName[nds]=Snake-liek Speel
GenericName[nl]=Snake-achtig spel
GenericName[nn]=Snake-liknande spel
GenericName[pl]=Gra podobna do gry "Węże"
GenericName[pt]=Jogo Semelhante ao Snake
GenericName[pt_BR]=Jogo semelhante ao Snake
GenericName[ro]=Joc asemănător cu Rîma
GenericName[ru]=Игра в стиле «змейки»
GenericName[sk]=Hra typu "Hadi"
GenericName[sl]=Igra podobna Snake
GenericName[sr]=Змијолика игра
GenericName[sr@ijekavian]=Змијолика игра
GenericName[sr@ijekavianlatin]=Zmijolika igra
GenericName[sr@latin]=Zmijolika igra
GenericName[sv]=Ormliknande spel
GenericName[tr]=Yılan-benzeri bir Oyun
GenericName[uk]=Гра, схожа на Snake
GenericName[x-test]=xxSnake-like Gamexx
GenericName[zh_CN]=类似贪吃蛇的游戏
GenericName[zh_TW]=類似吞食蛇遊戲
Terminal=false
Name=KSnake
Name[bs]=KSnake
Name[ca]=KSnake
Name[ca@valencia]=KSnake
Name[cs]=KSnake
Name[da]=KSnake
Name[de]=KSnake
Name[el]=KSnake
Name[en_GB]=KSnake
Name[es]=KSnake
Name[et]=KSnake
Name[eu]=KSnake
Name[fi]=KSnake
Name[fr]=KSnake
Name[ga]=KSnake
Name[gl]=KSnake
Name[hu]=KSnake
Name[is]=KSnákur
Name[it]=KSnake
Name[ja]=KSnake
Name[kk]=KSnake
Name[km]=KSnake​
Name[ko]=KSnake
Name[lv]=KSnake
Name[mr]=के-स्नेक
Name[nb]=KSnake
Name[nds]=KSnake
Name[nl]=KSnake
Name[nn]=KSnake
Name[pl]=KSnake
Name[pt]=KSnake
Name[pt_BR]=KSnake
Name[ro]=KSnake
Name[ru]=KSnake
Name[sk]=KSnake
Name[sl]=KSnake
Name[sr]=К‑змијице
Name[sr@ijekavian]=К‑змијице
Name[sr@ijekavianlatin]=K‑zmijice
Name[sr@latin]=K‑zmijice
Name[sv]=Ormspel
Name[tr]=KSnake
Name[ug]=KSnake
Name[uk]=KSnake
Name[x-test]=xxKSnakexx
Name[zh_CN]=KSnake
Name[zh_TW]=KSnake
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
