[Desktop Entry]
Type=Application
Exec=ksnakeduel -caption %c %i
Icon=ksnakeduel
X-DocPath=ksnakeduel/index.html
Terminal=false
Name=KSnakeDuel
Name[bs]=KSnakeDuel
Name[ca]=KSnakeDuel
Name[ca@valencia]=KSnakeDuel
Name[cs]=KSnakeDuel
Name[da]=KSnakeDuel
Name[de]=KSnakeDuel
Name[el]=KSnakeDuel
Name[en_GB]=KSnakeDuel
Name[es]=KSnakeDuel
Name[et]=KSnakeDuel
Name[fi]=KSnakeDuel
Name[fr]=KSnakeDuel
Name[ga]=KSnakeDuel
Name[gl]=KSnakeDuel
Name[hu]=KSnakeDuel
Name[it]=KSnakeDuel
Name[kk]=KSnakeDuel
Name[km]=KSpaceDuel
Name[ko]=KSnakeDuel
Name[lt]=KSnakeDuel
Name[lv]=KSpaceDuel
Name[mr]=के-स्नेक-ड्युएल
Name[nb]=KSnakeDuel
Name[nds]=KSnakeDuel
Name[nl]=KSnakeDuel
Name[nn]=KSlangeduell
Name[pl]=Pojedynek węży
Name[pt]=KSnakeDuel
Name[pt_BR]=KSnakeDuel
Name[ro]=KSnakeDuel
Name[ru]=Дуэль KSnake
Name[sk]=KSnakeDuel
Name[sl]=KSnakeDuel
Name[sr]=К‑змијски-двобој
Name[sr@ijekavian]=К‑змијски-двобој
Name[sr@ijekavianlatin]=K‑zmijski-dvoboj
Name[sr@latin]=K‑zmijski-dvoboj
Name[sv]=Ormspel
Name[tr]=KSnakeDuel
Name[ug]=KSnakeDuel
Name[uk]=KSnakeDuel
Name[x-test]=xxKSnakeDuelxx
Name[zh_CN]=KSnakeDuel
Name[zh_TW]=KSnakeDuel
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
