[Desktop Entry]
Type=Application
Exec=ktron -caption "%c" %i
Icon=ktron
X-DocPath=ktron/index.html
Terminal=false
Name=KSnakeDuel
Name[et]=KSnakeDuel
Name[nl]=KSnakeDuel
Name[pt]=KSnakeDuel
Name[pt_BR]=KSnakeDuel
Name[sv]=Ormspel
Name[uk]=KSnakeDuel
Name[x-test]=xxKSnakeDuelxx
Name[zh_TW]=KSnakeDuel
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
