<!DOCTYPE kpartgui>
<kpartgui name="ktron">
<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
	<Action name="game_pause"/>
  </Menu>
  <Menu name="settings" append="configure_merge"><text>&amp;Settings</text>
     <Menu name="computerplayer"><text>&amp;Computerplayer</text>
	<Action name="computer_player1"/>
	<Action name="computer_player2"/>
	<Separator/>
	<Action name="skill_beginner"/>
	<Action name="skill_average"/>
	<Action name="skill_expert"/>
     </Menu>
     <Action name="select_velocity"/>
     <Menu name="appearance"><text>&amp;Appearance</text>
        <Action name="select_style"/>
	<Action name="color_player1"/>
	<Action name="color_player2"/>
	<Action name="color_background"/>
	<Action name="background_image"/>
     </Menu>
     <Action name="select_size"/>
     <Action name="configure_other"/>
  </Menu>
</MenuBar>
</kpartgui>
