[Desktop Entry]
Type=Application
Exec=ktron -caption "%c" %i
Icon=ktron
X-DocPath=ktron/index.html
Terminal=false
Name=KSnakeDuel
Name[pt]=KSnakeDuel
Name[sv]=Ormspel
Name[uk]=KSnakeDuel
Name[x-test]=xxKSnakeDuelxx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
