[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=ktron -caption "%c" %i %m
Icon=ktron
DocPath=ktron/index.html
GenericName=Tron-like Game
GenericName[bg]=Логическа игра
GenericName[ca]=Joc a l'estil Tron
GenericName[cs]=Hra podobná Tronu
GenericName[cy]=Gêm sy'n debyg i Tron
GenericName[da]=Tron-lignende spil
GenericName[de]=Tron-ähnliches Spiel
GenericName[es]=Juego similar a Tron
GenericName[et]=Tron
GenericName[eu]=Tron-en antzeko jokoa
GenericName[fi]=Tron-tyylinen peli
GenericName[fr]=Jeu dans le style de Tron
GenericName[he]=משחק חיקוי Tron
GenericName[hu]=Tron-szerű
GenericName[is]=Leikur sem líkist Tron
GenericName[it]=Gioco simile a Tron
GenericName[nl]=Tron-achtig spel
GenericName[pl]=Gra typu Tron
GenericName[pt]=Jogo tipo Tron
GenericName[pt_BR]=Jogo parecido com Tron
GenericName[ru]=Игра Трон
GenericName[sl]=Igra podobna Tronu
GenericName[sr]=Игра налик на Tron
GenericName[sr@Latn]=Igra nalik na Tron
GenericName[sv]=Tron-liknande spel
GenericName[ta]=ட்ரோன் போன்ற விளையாட்டு
GenericName[xx]=xxTron-like Gamexx
Terminal=false
Name=KTron
Name[af]=Ktron
Name[bn]=কে-ট্রন
Name[eo]=Trono
Name[hi]=के-ट्रान
Name[nb]=Tron
Name[ru]=Трон
Name[sv]=Ktron
Name[ta]=Kட்ரான்
Name[tg]=KТрон
Name[xx]=xxKTronxx
Name[zu]=I-KTron
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
