[Desktop Entry]
Type=Application
Exec=ktron -snake -caption "%c" %i
Icon=snake
DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[el]=Παιχνίδι παρόμοιο με το Snake
GenericName[et]=Ussimäng
GenericName[ga]=Cluiche cosúil le Snake
GenericName[gl]=Xogo ao estilo do Snake
GenericName[km]=ល្បែង​ដូច​នឹង​ពស់
GenericName[pt]=Jogo tipo Cobras
GenericName[sv]=Ormliknande spel
GenericName[tr]=Snake Benzeri bir Oyun
GenericName[uk]=Гра, схожа на Snake
Terminal=false
Name=SnaKe
Name[sv]=Orm
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
