[Desktop Entry]
Type=Application
Exec=ktron -snake -caption "%c" %i
Icon=snake
DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[et]=Ussimäng
GenericName[sv]=Ormliknande spel
Terminal=false
Name=SnaKe
Name[sv]=Orm
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
