[Desktop Entry]
Type=Application
Exec=ktron -snake -caption "%c" %i
Icon=snake
DocPath=ktron/index.html
GenericName=Snake-like Game
GenericName[de]=Snake-ähnliches Spiel
GenericName[el]=Παιχνίδι παρόμοιο με το Snake
GenericName[es]=Juego similar a la serpiente
GenericName[et]=Ussimäng
GenericName[fr]=Clone du jeu du serpent
GenericName[ga]=Cluiche cosúil le Snake
GenericName[gl]=Xogo ao estilo do Snake
GenericName[km]=ល្បែង​ដូច​នឹង​ពស់
GenericName[nds]=Snake-liek Speel
GenericName[pt]=Jogo tipo Cobras
GenericName[pt_BR]=Jogo tipo Cobras
GenericName[sv]=Ormliknande spel
GenericName[tr]=Snake Benzeri bir Oyun
GenericName[uk]=Гра, схожа на Snake
GenericName[x-test]=xxSnake-like Gamexx
Terminal=false
Name=SnaKe
Name[ro]=Șarpe
Name[sv]=Orm
Name[x-test]=xxSnaKexx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
