[KGameTheme]
VersionFormat=1
Name=Default Theme
Name[bs]=Podrazumijevana tema
Name[ca]=Tema predeterminat
Name[ca@valencia]=Tema predeterminat
Name[cs]=Výchozí motiv
Name[da]=Standardtema
Name[de]=Standard-Design
Name[en_GB]=Default Theme
Name[es]=Tema predeterminado
Name[et]=Vaikimisi teema
Name[fi]=Oletusteema
Name[fr]=Thème par défaut
Name[it]=Tema predefinito
Name[km]=ស្បែក​លំនាំ​ដើម​
Name[nb]=Standardtema
Name[nds]=Standardutsehn
Name[nl]=Standaardthema
Name[pl]=Domyślny motyw
Name[pt]=Tema Predefinido
Name[pt_BR]=Tema padrão
Name[ru]=Оформление по умолчанию
Name[sk]=Štandardná téma
Name[sr]=Подразумевана тема
Name[sr@ijekavian]=Подразумијевана тема
Name[sr@ijekavianlatin]=Podrazumijevana tema
Name[sr@latin]=Podrazumevana tema
Name[sv]=Standardtema
Name[uk]=Типова тема
Name[x-test]=xxDefault Themexx
Name[zh_TW]=預設主題
Description=Default theme.
Description[bs]=Podrazumijevana tema
Description[ca]=Tema predeterminat.
Description[ca@valencia]=Tema predeterminat.
Description[cs]=Výchozí motiv.
Description[da]=Standardtema.
Description[de]=Standard-Design.
Description[en_GB]=Default theme.
Description[es]=Tema predeterminado.
Description[et]=Vaikimisi teema.
Description[fi]=Oletusteema.
Description[fr]=Thème par défaut.
Description[it]=Il tema predefinito.
Description[km]=ស្បែក​លំនាំ​
Description[nb]=Standardtema.
Description[nds]=Standardutsehn
Description[nl]=Standaardthema.
Description[pl]=Domyślny motyw.
Description[pt]=O tema predefinido.
Description[pt_BR]=Tema padrão.
Description[ru]=Оформление по умолчанию.
Description[sk]=Štandardná téma.
Description[sr]=Подразумевана тема
Description[sr@ijekavian]=Подразумијевана тема
Description[sr@ijekavianlatin]=Podrazumijevana tema
Description[sr@latin]=Podrazumevana tema
Description[sv]=Standardtema.
Description[ug]=كۆڭۈلدىكى ئۆرنەك.
Description[uk]=Типова тема.
Description[x-test]=xxDefault theme.xx
Description[zh_TW]=預設主題。
FileName=default.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=default.png
