[KGameTheme]
VersionFormat=1
Name=KTron Default Theme
Name[de]=Standard
Name[el]=Προκαθορισμένο θέμα KTron
Name[et]=KTroni vaiketeema
Name[ga]=Téama Réamhshocraithe KTron
Name[ja]=KTron 標準テーマ
Name[nds]=KTron-Standardmuster
Name[nn]=Standardtema for KTron
Name[pt]=Tema Predefinido do KTron
Name[pt_BR]=Tema padrão do KTron
Name[sr]=Подразумевана тема К‑трона
Name[sr@latin]=Podrazumevana tema K‑trona
Name[sv]=Ktron standardtema
Name[uk]=Типова тема KTron
Name[x-test]=xxKTron Default Themexx
Name[zh_CN]=KTron 默认主题
Name[zh_TW]=KTron 的預設主題
Description=Default theme for KTron.
Description[de]=Das Standard-Design für KTron.
Description[el]=Προκαθορισμένο θέμα για το KTron.
Description[et]=KTroni vaiketeema
Description[ga]=Téama réamhshocraithe le haghaidh KTron.
Description[ja]=KTron の標準テーマ
Description[nds]=Standardmuster för KTron.
Description[nn]=Standardtema for KTron.
Description[pt]=O tema predefinido do KTron.
Description[pt_BR]=O tema padrão do KTron.
Description[sr]=Подразумевана тема за К‑трон
Description[sr@latin]=Podrazumevana tema za K‑tron
Description[sv]=Standardtema för Ktron.
Description[uk]=Типова тема KTron.
Description[x-test]=xxDefault theme for KTron.xx
Description[zh_CN]=为 KTron 设计的默认主题。
Description[zh_TW]=KTron 的預設主題。
FileName=default.svgz
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=default.png
