[KGameTheme]
VersionFormat=1
Name=Neon
Name[bs]=Neon
Name[ca]=Neó
Name[ca@valencia]=Neó
Name[cs]=Neon
Name[da]=Neon
Name[de]=Neon
Name[el]=Neon
Name[en_GB]=Neon
Name[es]=Neón
Name[et]=Neoon
Name[fi]=Neon
Name[fr]=Néon
Name[ga]=Neon
Name[gl]=Neon
Name[it]=Neon
Name[km]=ណេអុង
Name[nb]=Neon
Name[nds]=Neon
Name[nl]=Neon
Name[pl]=Neon
Name[pt]=Néon
Name[pt_BR]=Neon
Name[sk]=Neón
Name[sr]=Неонка
Name[sr@ijekavian]=Неонка
Name[sr@ijekavianlatin]=Neonka
Name[sr@latin]=Neonka
Name[sv]=Neon
Name[ug]=نېئون
Name[uk]=Неон
Name[x-test]=xxNeonxx
Name[zh_TW]=Neon
Description=A retro theme with a distinctive touch of early 50s.
Description[bs]=Retro tema sa osjećajem ranih pedesetih.
Description[ca]=Un tema retro amb un toc distintiu dels anys 50.
Description[ca@valencia]=Un tema retro amb un toc distintiu dels anys 50.
Description[da]=Et retro-tema med et karakteristisk strøg fra først i 1950'erne.
Description[de]=Ein Retro-Design mit einem unverwechselbaren Hauch der 50er Jahre.
Description[el]=Ρετρό θέμα με μια διακριτική πινελιά από την αρχή της δεκαετίας του '50.
Description[en_GB]=A retro theme with a distinctive touch of early 50s.
Description[es]=Un tema retro con un toque distintivo de los años 50.
Description[et]=Retroteema 1950. aastate alguse stiilis.
Description[fr]=Un thème rétro pour KTron, avec une touche du début des années 50.
Description[ga]=Téama sean-nóis le blas na luath-50í.
Description[gl]=Un tema retro cun toque distintivo dos anos cincuenta.
Description[it]=Un tema vecchio stile alla maniera degli anni '50.
Description[km]=ស្បែក​មុន​ដែល​មាន​លក្ខណៈ​ខុស​គ្នា​ពី​ដើម​ទសវត្សរ៍ ៥​០ ។
Description[nb]=Nostalgisk tema med smak av tidlig 1950-tall.
Description[nds]=En Nostalgie-Muster för mit utspraken Anlehnen to de fröhen 50er Johren.
Description[nl]=Een retro thema met een duidelijke toets uit de vroege 50s.
Description[pl]=Motyw retro z lekką nutą wczesnych lat pięćdziesiątych.
Description[pt]=Um tema retro com um toque distinto do início dos anos 50.
Description[pt_BR]=Um tema antigo com um toque distinto do início dos anos 50.
Description[ru]=Оформление в стиле ранних 50-х
Description[sk]=Retro téma s nádychom začiatku päťdesiatych rokov.
Description[sr]=Ретро тема са нотом раних педесетих.
Description[sr@ijekavian]=Ретро тема са нотом раних педесетих.
Description[sr@ijekavianlatin]=Retro tema sa notom ranih pedesetih.
Description[sr@latin]=Retro tema sa notom ranih pedesetih.
Description[sv]=Ett gammaldags tema med en distinkt känsla av tidigt 50-tal.
Description[uk]=Ретро-тема з невловимим присмаком ранніх 50-их.
Description[x-test]=xxA retro theme with a distinctive touch of early 50s.xx
Description[zh_TW]=Neon 外觀主題，加上 50 年代早期的特色。
FileName=neon.svg
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=neon.png
