[KGameTheme]
VersionFormat=1
Name=Neon K Tron
Name[x-test]=xxNeon K Tronxx
Description=A retro KTron theme with a deistinctive touch of early 50s.
Description[x-test]=xxA retro KTron theme with a deistinctive touch of early 50s.xx
FileName=neon.svg
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
Preview=neon.png